p.caption {
  color: #777;
  margin-top: 10px;
  text-align: center;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

p {
  text-align: justify;
}

li {
  text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

.book .book-summary {
  width: 350px;
  position:absolute;
  top:0;
  left:-350px;
}

.book.with-summary .book-header.fixed {
    left: 350px;
}

.book.with-summary .book-body {
    left: 350px;
}

h1 {
  color: #730000;
}

h2 {
  color: #730000;
}

h3 {
  color: #730000;
}

h4 {
  color: #730000;
}

